<div class="content" (click)="check('London')">
  <div class="singleContainer">
    <span class="info"> Country Code: </span>
    <span class="singleContainer__ccText">
      {{ mainWeather.countryCode }}
    </span>
  </div>
  <div class="singleContainer mainContianer">
    <span class="info"> City Name: </span>
    <span class="singleContainer__cnText">
      {{ mainWeather.cityName }}
    </span>
  </div>
  <div class="singleContainer">
    <span class="info"> Temperature: </span>
    <span class="singleContainer__tText">
      {{ mainWeather.temperature }}
    </span>
  </div>
  <div class="singleContainer">
    <span class="info"> Feels Like Temperature: </span>
    <span class="singleContainer__fltText">
      {{ mainWeather.feelsLike }}
    </span>
  </div>
</div>
